<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mô tả website</title>
</head>
<body>
    <h1>Website mạng xã hội</h1>
    <h3>Phát triển từ nhày 23/01/2022</h3>
    <div>
        <p>Trang đăng ký đăng nhập</p>
        <ul>
            <li>Đăng ký</li>
            <li>Đăng nhập</li>
            <li>Quên mật khẩu</li>
            <li>Gửi mail được đẩy vô queue</li>
        </ul>
    </div>
    <div>
        <p>Trang trang chủ</p>
        <ul>
            <li>Tìm kiếm bạn bè</li>
            <li>Đăng bài viết - Chưa làm hiển thị</li>
            <li>Đăng tin- Chưa làm hiển thị</li>
            <li>Hiện thị thông báo khi bạn bè online hoặc đăng bài</li>
            <li>Hiện thị thông báo khi nhận được lời mời kb hoặc được chập nhận kb</li>
            <li>Click vào bạn bè để có thể chát với bạn mè</li>
            <li>Sử dụng pusher laravel-echo để làm ứng dụng timezone</li>
        </ul>
    </div>
    <div>
        <p>Trang profile</p>
        <ul>
            <li>Hiện thị dữ liệu cá nhân</li>
            <li>Cập nhật thông tin cá nhân</li>
        </ul>
    </div>
</body>
</html>
